<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p><a href="/contacts">Contacts</a></p>
<p><a href="/groups">Groups</a></p>
<p><a href="/messages">Messages</a></p>
<p><a href="/messages/send/all">Send Message to All</a></p>
